<style>
    .activity-item-wrap {
        width: 100%;
        padding: 4px 16px;
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        color: #333333;
        ;
    }

    .activity-item-wrap:hover {
        background-color: rgba(0, 0, 0, 0.02);
        cursor: pointer;

    }

    /* .activity-item-wrap span a{
        color:#777777;
    }
    .activity-item-wrap span a:hover{
        color:yellow;
    } */
</style>
<div class="activity-item-wrap">
    <span style="flex-grow:1;align-self:center;" [routerLink]="['view',item.id]" [state]="item">
        <h6 class="d-inline"><span class="badge bg-msu1 text-dark">{{item.actcode}}</span></h6>
        {{item.actname}}
    </span>

    <span>
        <div class="d-none d-sm-block">
            <a style="width:28px;height:28px;line-height:26px;" [routerLink]="['edit',item.id]"  [state]="item"
                routerLinkActive="router-link-active" mat-icon-button matTooltip="แก้ไข">
                <mat-icon>create</mat-icon>
            </a>
            <a style="width:28px;height:28px;line-height:26px;" mat-icon-button matTooltip="ลบข้อมูล" (click)="onDelete(item);">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
        <div class="d-block d-sm-none">
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" Position="before">
                <button mat-menu-item [routerLink]="['edit',item.id]"  [state]="item">
                    <mat-icon style="margin:2px;">create</mat-icon>แก้ไข
                </button>
                <button mat-menu-item (click)="onDelete(item)">
                    <mat-icon style="margin:2px;">delete</mat-icon>ลบ
                </button>
            </mat-menu>
        </div>
    </span>
</div>