<div class="page-toolbar">
  <div>
    <!-- <mat-icon>domain</mat-icon> -->
    <button mat-icon-button [routerLink]="['/admin/activity']" matTooltip="ย้อนกลับ">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <label>เพิ่มกิจกรรมนิสิต</label>
  </div>
  <span>
    <!-- <button [routerLink]="['add']" routerLinkActive="router-link-active" class="justify-content-end" mat-icon-button
            matTooltip="เพิ่ม" aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>add</mat-icon>
        </button> -->
    <!-- <button mat-flat-button class="bg-success text-white">บันทึก</button> -->
    <button class="justify-content-end" mat-icon-button matTooltip="โหลดข้อมูล"
      aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>refresh</mat-icon>
    </button>
  </span>
</div>



<div class="container-fluid">
  <form [formGroup]="formActivity" #ngForm="ngForm" autocomplete="off">
    <div class="row">

      <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <label class="form-label">รหัส</label>
        <input formControlName="actcode" id="actcode" type="text" class="form-control" placeholder="" required>
        <div *ngIf="fa.actcode.touched && fa.actcode.invalid" class="form-error">
          <div *ngIf="fa.actcode.errors && fa.actcode.errors.required">โปรดระบุ รหัสกิจกรรม</div>
          <!-- <div *ngIf="fa.actcode.errors && fa.actcode.errors.minlength">actcode should be 3 character.</div> -->
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-9 col-lg-10">
        <label class="form-label">ชื่อกิจกรรม/โครงการ</label>
        <input formControlName="actname" type="text" class="form-control" placeholder="">
        <div *ngIf="fa.actname.touched && fa.actname.invalid" class="form-error">
          <div *ngIf="fa.actname.errors && fa.actname.errors.required">โปรดระบุ ชื่อกิจกรรม</div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <label for="inputState" class="form-label">องค์กรผู้จัด</label>
        <select id="inputState" class="form-select">
          <option selected>-เลือก-</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4">
        <label for="inputState" class="form-label">ผู้เปิดกิจกรรม</label>
        <select id="inputState" class="form-select">
          <option selected>-เลือก-</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4">
        <label for="inputState" class="form-label">ประเภทกิจกรรม</label>
        <select id="inputState" class="form-select">
          <option selected>-เลือก-</option>
          <option>...</option>
        </select>
      </div>

      <div class="col-sm-6 col-md-4">
        <label class="form-label">ปีการศึกษา</label>
        <input formControlName="actyear" type="text" class="form-control" placeholder="">
        <div *ngIf="fa.actyear.touched && fa.actyear.invalid" class="form-error">
          <div *ngIf="fa.actyear.errors && fa.actyear.errors.required">โปรดระบุ ปีการศึกษา</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <label class="form-label">ภาคเรียน</label>
        <select formControlName="actterm" class="form-select">
          <option value="null" selected>-เลือก-</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4">
        <label  class="form-label">สถานที่จัดกิจกรรม</label>
        <input type="text" class="form-control" >
      </div>
      
      <div class="col-12">
        <label class="form-label">รายละเอียด</label>
        <textarea formControlName="actdetail" type="text" class="form-control" placeholder=""></textarea>
        <div *ngIf="fa.actdetail.touched && fa.actdetail.invalid" class="form-error">
          <div *ngIf="fa.actdetail.errors && fa.actdetail.errors.required">โปรดระบุ รายละเอียดกิจกรรม</div>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div> -->




      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label">วันที่จัดกิจกรรม</label>
          <div class="input-group">
            <input formControlName="actstartdate" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker
              #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label">วันที่ปิดกิจกรรม</label>
          <div class="input-group">
            <input formControlName="actenddate" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker
              #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </div>


    
      <div class="col-md-3">
        <label for="inputCity" class="form-label">จำนวนที่รับ</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-3">
        <label for="inputCity" class="form-label">แหล่งงบประมาณ
        </label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-3">
        <label for="inputZip" class="form-label">งบประมาณขออนุมัติ</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-md-3">
        <label for="inputZip" class="form-label">งบประมาณใช้จริง</label>
        <input type="text" class="form-control" id="inputZip">
      </div>


      <div class="col-12">
        <label class="form-label">กิจกรรมสำหรับ</label>
          <div class="form-check">            
            <input class="form-check-input" type="checkbox" id="selectall">
            <label class="form-check-label" for="selectall">
              เลือกทั้งหมด
            </label>
          </div>        
        <div class="row ps-4">
        <div class="col-md-4" *ngFor="let item of faculty;let i=index">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="{{item.id}}">
            <label class="form-check-label" for="{{item.id}}">
              {{item.name}} 
            </label>
          </div>
        </div>

      </div>
      </div>










      <div class="col-12">
        <div class="alert alert-danger mt-2">
          {{formActivity.value | json}}
        </div>
      </div>


      <div class="col-12">
        <button type="reset" class="btn btn-secondary me-2">Reset</button>
        <button type="submit" class="btn btn-success" [disabled]="!formActivity.valid"
          (click)="onSubmit()">Save</button>
      </div>


    </div>
  </form>




 


  <br>
</div>