<div class="sj-wrapper">


  <app-topnav></app-topnav>
  <router-outlet></router-outlet>
  <app-toasts></app-toasts>



  <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>First</a>
      <ng-template ngbNavContent>First content</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Second</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div> -->

<!-- <div class="container-fluid bg-msu1 p=3" >
<div class="row">
<div class="col">
aa
</div>
<div class="col">
bb
</div>
<div class="col">
cc
</div>
</div>
</div> -->










  <footer>
    <div>ระบบบริหารจัดการกิจกรรมนิสิต <span class="d-none d-sm-inline ">กองกิจการนิสิต</span> มหาวิทยาลัยมหาสารคาม
    </div>
    <small>โดย สำนักคอมพิวเตอร์&copy;2021 developer: นายธนศาสตร์ สุดจริง</small>
  </footer>
</div> 