<div class="sj-wrapper">
  <header id="app-topnev">
    <div class="app-logo text-msu1" style="cursor:pointer;" [routerLink]="['/home']">
      SAM 
    </div>
    <a mat-button [routerLink]="['/student']" routerLinkActive="router-link-active">
      student
    </a>
    <a mat-button [routerLink]="['/officer']" routerLinkActive="router-link-active">
      offier
    </a>
    <a mat-button [routerLink]="['/admin']" routerLinkActive="router-link-active">
      admin
    </a>    
    <a mat-button style="margin-left: auto;" [routerLink]="['/login']" routerLinkActive="router-link-active">
      เข้าใช้งาน
    </a>
    <!-- <a [routerLink]="['/login']" routerLinkActive="router-link-active"  style="align-self: center;">
    <mat-icon>login</mat-icon>
    </a> -->
  </header>
  
  <router-outlet></router-outlet>
  <footer>
    <div>ระบบบริหารจัดการกิจกรรมนิสิต <span class="d-none d-sm-inline ">กองกิจการนิสิต</span> มหาวิทยาลัยมหาสารคาม </div>
    <small>โดย สำนักคอมพิวเตอร์&copy;2021 developer: นายธนศาสตร์ สุดจริง</small>
  </footer>
</div>