/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Sarabun", Roboto, "Helvetica Neue", sans-serif;
}

.sj-wrapper {
  height: calc(100vh - 64px);
}
#app-topnev {
  display: flex;
  height: 64px;
  /*background-color: rgb(33,63,101);  LAZULI BLUE */
  background-color:  var(--msu-appbar);
  color: white;
  z-index: 1000;
  position: relative;
  border-bottom: 1px solid rgb(25, 43, 63);
  /*
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    */
}
#app-topnev a {
  align-self: center;
  font-family: "Sarabun";
  font-size: 1rem;
}
.app-logo {
  align-self: center;
  padding: 0 16px;
  font-size: 1.3rem;
  font-weight:900;
  cursor:pointer;
}

footer {
  font-size: 0.9rem;
  height: 64px;
  padding: 8px 8px;
  background-color: var(--msu-appbar);
  color: white;
}
footer div {
  display: block;
}

main {
  min-height: calc(100vh - 128px);
}
main mat-drawer-container {
  min-height: calc(100vh - 128px);
  /* overflow: unset; */
}
mat-drawer label {
  font-family: "Sarabun";
  padding-left: 8px;
}
button.mat-menu-item {
  font-family: "Sarabun";
}

.sidenav-text-toggle {
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: rgb(248, 249, 250); /* bg-light */
}
.mat-list-item-content {
  color: var(--msu-appbar);
}
.sidenav-text-toggle mat-icon {
  vertical-align: middle;
}
.router-link-active {
  background-color: rgba(0, 0, 0, 0.05);
}
.welcome {
  display: block;
  height: 300px;
  /* background-color: rgb(25, 43, 63); */
  background-color: rgb(44, 74, 107);
  position: relative;
  color: white;
}
.welcome h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
a {
  color: white;
}
a:visited {
  color: inherit;
}

a:hover {
  color: rgb(250, 223, 74);
}

.page-toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 8px 8px;
  color: var(--msu-appbar);
}
.page-toolbar div {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
}
.page-toolbar div label {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 10px;
}
.page-toolbar span button {
  margin-left: 5px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Sarabun";
}
.form-label {
  font-family: "Sarabun";
  margin: 8px 0 0 0;
}
.form-error {
  color: red;
  font-size: 0.8rem;
  font-family: "Sarabun";
}
button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 50%;
  height:100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-append {
  margin-left: -1px;
  display:flex;

}
.btn-outline-secondary {
  color: #6c757d;
  border-color: #ced4da;
}
.ngb-dp-header {
  border-bottom: 0;
  border-radius: .25rem .25rem 0 0;
  padding-top: .25rem;
  background-color: var(--bs-light) !important;
}
.ngb-dp-weekday {
  background-color: var(--bs-light) !important;
}
ngb-datepicker-navigation-select>.custom-select {
  border: 1px solid var(--bs-gray-400) !important;
  border-radius: 4px !important;
}

.toast{ /*--reset ngb-toasts class */
  width:unset;
}





.toast-success {
  background-color: var(--bs-success);
}





/* My Color Theme */
:root {
  --msu-yellow: rgb(250, 223, 74);
  --msu-gray:rgb(147, 151, 154);
  --msu-appbar:rgb(52, 74, 97);
}
.text-msu1 {
  color: rgb(250, 223, 74);
  /* color:rgb(226,155,65) */
}
/* .text-msu2 {
  color: rgb(147, 151, 154);
} */
.text-msu2 {
  color: rgb(108, 111, 114);
}
.text-msu3 {
  color: rgb(52, 74, 97);
}
.text-msu4 {
  color: rgb(58, 102, 148);
}
.text-msu5 {
  color: rgb(27, 55, 86);
}
.text-msu6 {
  color: rgb(226, 155, 65);
}

.bg-msu1 {
  background-color: rgb(250, 223, 74);
}
.bg-msu2 {
  background-color: rgb(147, 151, 154);
}
.bg-msu3 {
  background-color: rgb(52, 74, 97);
}

.bg-theme1 {
  background-color: rgb(33, 63, 101); /* LAZULI BLUE */
}
.bg-theme2 {
  background-color: rgb(129, 148, 118); /* JADE BLUE */
}
.bg-theme3 {
  background-color: rgb(239, 186, 94); /* HONEYCOMB BLUE */
}
.bg-theme4 {
  background-color: rgb(67, 52, 49); /* DARK OAK BLUE */
}
.bg-theme5 {
  background-color: rgb(161, 52, 110); /* ORCHID FLOWER BLUE */
}
.text-theme1 {
  color: rgb(33, 63, 101); /* LAZULI BLUE */
}
.text-theme2 {
  color: rgb(129, 148, 118); /* JADE BLUE */
}
.text-theme3 {
  color: rgb(239, 186, 94); /* HONEYCOMB BLUE */
}
.text-theme4 {
  color: rgb(67, 52, 49); /* DARK OAK BLUE */
}
.text-theme5 {
  color: rgb(161, 52, 110); /* ORCHID FLOWER BLUE */
}
/* My Color Theme */
