<div class="d-flex">
    <mat-icon class="circle-icon">{{icon}}</mat-icon>
    <h4 class="d-inline-block align-self-center">{{title}}</h4>
</div>
<div  class="text-center mt-2">
    <p>{{message}}</p>
</div>
<div class="d-flex justify-content-center">
    <!-- <button mat-button (click)="onDismiss()">No</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button> -->
    <button class="btn btn-secondary me-2" (click)="onDismiss()">ยกเลิก</button>
    <button class="btn btn-warning" (click)="onConfirm()">ตกลง</button>
</div>